// Color palette is Zeno Rocha's "Dracula" (https://draculatheme.com/)

$background: #282a36;
$background-alt: #44475a;
$foreground: #f8f8f2;
$foreground-alt: #6272a4;

$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

$theme-dracula: (
  "alert": $orange,
  "background-primary": $background,
  "background-secondary": $background-alt,
  "background-input": darken($background, 10%),
  "border": $foreground-alt,
  "comment-label-exemplary": $cyan,
  "comment-label-joke": $green,
  "comment-label-noise": $yellow,
  "comment-label-offtopic": $pink,
  "comment-label-malice": $red,
  "error": $red,
  "foreground-primary": $foreground,
  "foreground-secondary": $foreground-alt,
  "foreground-highlight": $foreground,
  "link": $cyan,
  "link-visited": $purple,
  "stripe-mine": $purple,
  "stripe-target": $yellow,
  "topic-tag-nsfw": $red,
  "topic-tag-spoiler": $yellow,
  "warning": $yellow,
);

body.theme-dracula {
  @include use-theme($theme-dracula);
}
